<footer class="footer">
    <div class="footer-columns">
        <div>
            <h4>Get to Know Us</h4>
            <ul>
                <li>About Us</li>
                <li>Careers</li>
                <li>Press Releases</li>
            </ul>
        </div>
        <div>
            <h4>Make Money with Us</h4>
            <ul>
                <li>Sell on Our Platform</li>
                <li>Become an Affiliate</li>
                <li>Advertise Your Products</li>
            </ul>
        </div>
        <div>
            <h4>Let Us Help You</h4>
            <ul>
                <li>Your Account</li>
                <li>Returns</li>
                <li>Help</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <img src="./assets/amazon_logo.png" width="80" alt="Logo" />
        <p>&copy; 2025 Amazon Clone. All rights reserved.</p>
        <p 
            class="footer-author" 
            [style]="{
                'marginTop': '20px',
                'cursor': 'pointer'
            }"
        ><a href="https://github.com/GuilhermeSerafim" target="_blank">Developed by Guiler</a></p>
    </div>
</footer>