<div class="box-row header-box">
    <div class="box-col">
        <h3>Free international returns</h3>
        <img src="./assets/box1-1.jpg" alt="">
        <a href="#">Shop more</a>
    </div>
    <div class="box-col">
        <h3>Lunar new Year</h3>
        <img src="./assets/box1-2.jpg" alt="">
        <a href="#">Shop more</a>
    </div>
    <div class="box-col">
        <h3>Toy under $25</h3>
        <img src="./assets/box1-3.jpg" alt="">
        <a href="#">Shop more</a>
    </div>
    <div class="box-col">
        <h3> Gifts under $25</h3>
        <img src="./assets/box1-4.jpg" alt="">
        <a href="#">Shop more</a>
    </div>
    <div class="box-row ">
        <div class="box-col">
            <h3>Grooming Products</h3>
            <img src="./assets/box2-1.jpg" alt="">
            <a href="#">Shop more</a>
        </div>
        <div class="box-col">
            <h3>Latest Devices</h3>
            <img src="./assets/box2-2.jpg" alt="">
            <a href="#">Shop more</a>
        </div>
        <div class="box-col">
            <h3>Pets Food </h3>
            <img src="./assets/box2-3.jpg" alt="">
            <a href="#">Shop more</a>
        </div>
        <div class="box-col">
            <h3>Fashion Mart</h3>
            <img src="./assets/box2-4.jpg" alt="">
            <a href="#">Shop more</a>
        </div>
    </div>
</div>